<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">StackOverflow Review</a> <!-- TODO: this should be changed to use the ember linkto -->
      <ul class="nav">
      </ul>
    </div>
  </div>

  <h1>Woohoo!  ...and we're up and running</h1>

  {{outlet}}
</div>

