<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      {{# linkTo "index" class='brand' }}StackOverflow Review{{/linkTo}}
      <ul class="nav">
      </ul>
    </div>
  </div>

  {{outlet}}
</div>

